head
	title File Upload Demonstrations
	link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="css/site.css")
