extends layout

block content
	header(class="page-header")
		h1 File Upload Demos
			small please click link below
	
	ul
		for demo in demos
			li
				a(href=demo.url)= demo.caption
				
	footer
		small 
			a(href='http://www.training4developers.com',target='_blank') &copy 2015, Training 4 Developers, Inc.
	
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
				
